.oneline {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.twoline {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.alertMsg {
    width: 300px;
    height: 90px;
    position: fixed;
    top: 50px;
    right: 10px;
    z-index: 2;
    animation-name: myAlert;
    animation-duration: 4s;
}

@keyframes myAlert {
    from {
        top: -100px;
    }
    to {
        top: 50px;
    }
}